body {
  margin: 0;
  align-content: flex-start;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.bottomRight {
  position: fixed;
  top: 10px;
}

ul {
  list-style-type: none;
}

p, button, input, .todo {
  display: inline-block;
}

p{
  margin-right: 20px;
  justify-content: left;
}
